jenkins:
  systemMessage: "Jenkins configured automatically by JCasC"
  numExecutors: 2
  scmCheckoutRetryCount: 3
  
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "admin123"

  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: true

tool:
  maven:
    installations:
      - name: "Maven-3.9.6"
        properties:
          - installSource:
              installers:
                - maven:
                    id: "3.9.6"

plugins:
  required:
    - workflow-aggregator
    - docker-workflow
    - jacoco
    - htmlpublisher
    - test-results-analyzer
    - build-timeout
    - timestamper
    - maven-plugin
    - git
    - configuration-as-code
    - job-dsl

jobs:
  - script: >
      pipelineJob('series-backend-pipeline') {
        description('CI/CD Pipeline for Series Backend Application')
        
        definition {
          cpsScm {
            scm {
              git {
                remote {
                  url('https://github.com/manacGrace/420-515-MV-MAINTENANCE.git')
                }
                branch('main')
              }
            }
            scriptPath('Epic-4/Jenkinsfile')
          }
        }
        
        triggers {
          scm('H/5 * * * *')
        }
        
        properties {
          buildDiscarder {
            strategy {
              logRotator {
                daysToKeepStr: '30'
                numToKeepStr: '10'
                artifactDaysToKeepStr: '7'
                artifactNumToKeepStr: '5'
              }
            }
          }
        }
      }
    ''')
